extends layout

block content
    .container
        .jumotorm
            .container
                h1 How May I help You?
                p Lorem ipsum dolor sit amet, consectetur adipiscing slit. Fusce orci, vehicula ullamcorper loborities sed, lutus quis lacus.
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo; 
        .container
            .row
                .col-md-4
                    h2 About Us
                    p Lorem ipsum dolor sit amet, consectetur adipiscing slit. Fusce orci, vehicula ullamcorper loborities sed, lutus quis lacus.
                    a.btn.btn-info.btn-lg(href='#') View Details  
                .col-md-4
                    h2 Services
                    p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    a.btn.btn-info.btn-lg(href='#') View Details 
                .col-md-4
                    h2 Get In Touch
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    a.btn.btn-info.btn-lg(href='#') View Details 
